.caixa_width {
    /*border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 97, 72);*/

    border: 2px solid rgb(72, 97, 72);

    width: 200px;
}

.imagem_width {
    width: 400px;
}

.caixa_height {
    border: 1px dashed rgb(68, 87, 78);

    height: 100px;
    width: 100px;
}